<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'bugreport')}">
<head>
    <meta charset="UTF-8">
    <title>Bug report</title>
</head>
<body>
<h3>Create bug report</h3>
<form th:action="@{/report/create}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="summary">Summary</label>
                <input type="text" name="summary" class="form-control" placeholder="Summary">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" rows="5" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="priority">Priority</label><br/>
                <select class="custom-select col-4" name="priority">
                    <option selected value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Critical">Critical</option>
                </select>
            </div>
            <div class="form-group">
                <label for="reporter">Reporter</label>
                <input type="text" readonly name="reporter" class="form-control col-4" placeholder="Reporter" th:value="${#httpServletRequest.remoteUser}">
            </div>
            <div class="form-group">
                <label for="assignee">Assignee</label><br/>
                <select class="custom-select col-4" name="assignee">
                    <th:block th:each="user : ${userList}">
                        <option th:value="${user.getUsername()}" th:text="${user.getUsername()}"></option>
                    </th:block>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02" name="file">
                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-secondary btn-sm" href="/">Cancel</a>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
</body>
</html>