<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'dashboard')}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h3>Dashboard</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Priority</th>
        <th scope="col">Summary</th>
        <th scope="col">Assignee</th>
        <th scope="col">Created</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="report : ${reports}">
        <tr>
            <th scope="row"><a th:href="@{/report/view/(id=${report.id})}" th:text="${report.id}"></a></th>
            <td th:text="${report.priority}"></td>
            <td th:text="${report.summary}"></td>
            <td th:text="${report.assignee}"></td>
            <td th:text="${report.createdAt}"></td>
        </tr>
    </div>
    </tbody>
</table>
<a class="btn btn-secondary btn-sm" href="/">Back</a>
</body>
</html>