<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'edit')}">
<head>
    <meta charset="UTF-8">
    <title>Bug report</title>
</head>
<body>
<h3>Edit bug report</h3>
<form method="post" th:action="@{/report/edit}" th:object="${report}">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="summary">Summary</label>
                <input type="text" class="form-control" placeholder="Summary" id="summary"
                       th:field="${report.summary}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="8" placeholder="Description" id="description"
                          th:field="${report.description}"></textarea>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="id">Id:</label>
                        <input type="text" class="form-control" readonly placeholder="id" id="id" th:field="${report.id}">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="createdAt">Created</label>
                        <input type="text" class="form-control" readonly placeholder="Created" id="createdAt"
                               th:field="${report.createdAt}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="custom-select" id="status" th:field="${report.status}">
                            <option selected value="New">New</option>
                            <option value="Open">Open</option>
                            <option value="In progress">In progress</option>
                            <option value="Fixed">Fixed</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="priority">Priority</label>
                        <select class="custom-select" id="priority" th:field="${report.priority}">
                            <option selected value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                            <option value="Critical">Critical</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="reporter">Reporter</label>
                <input type="text" class="form-control" readonly placeholder="Reporter" id="reporter"
                       th:field="${report.reporter}">
            </div>
            <div class="form-group">
                <label for="assignee">Assignee</label><br/>
                <select class="custom-select col-4" name="assignee">
                    <th:block th:each="user : ${list}">
                        <option th:if="${user.getUsername().equalsIgnoreCase(report.assignee)}" selected th:value="${user.getUsername()}" th:text="${user.getUsername()}"></option>
                        <option th:unless="${user.getUsername().equalsIgnoreCase(report.assignee)}" th:value="${user.getUsername()}" th:text="${user.getUsername()}"></option>
                    </th:block>
                </select>
            </div>
            <th:block th:if="${file!=null}">
                <img src="/img/${filename}" alt="Upload file">
            </th:block>
        </div>
    </div>
    <a class="btn btn-secondary btn-sm" href="/dashboard">Back</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>