<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'login')}">
<head>
    <title>Login page</title>
</head>
<body>

<div class="row justify-content-md-center">
    <div class="col col-3">
        <div class="col">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid username or password
            </div>
            <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                Log out was successfully!
            </div>
        </div>

        <form th:action="@{/login}" method="post">
            <h4>Login</h4>
            <div class="form-group">
                <input type="text" class="form-control my-3" name="username" placeholder="Username">
                <input type="password" class="form-control mb-2" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login">
                <a th:href="@{/registration}" class="btn btn-primary">Registration</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>