<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'registration')}">
<head>
    <title>Registration page</title>
</head>
<body>

<div class="row justify-content-md-center">
    <div class="col col-3">
        <div class="col">
            <div class="alert alert-danger" role="alert" th:if="${message != null}">
                User exists
            </div>
        </div>

        <form th:object="${user}" th:action="@{/registration}" method="post">
            <h4>Registration</h4>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Age Error</label>
                <input type="text" class="form-control my-3" name="username" placeholder="Username" required>
                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Age Error</label>
                <input type="text" class="form-control my-3" name="firstName" placeholder="First name" required>
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Age Error</label>
                <input type="text" class="form-control my-3" name="lastName" placeholder="Last name" required>
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Age Error</label>
                <input type="email" class="form-control my-3" name="email" placeholder="E-mail" required>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Age Error</label>
                <input type="password" class="form-control mb-2" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Register">
                <a th:href="@{/login}" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>