<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'user')}">
<head>
    <title>Registration page</title>
</head>
<body>
<h3>Admin panel</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Active</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="3" style="text-align:center" scope="row" class="table-secondary">USER</th>
    </tr>
    <th:block th:each="user:${users}">
        <th:block th:each="role:${user.roles}">
            <th:block th:if="${role.name().equalsIgnoreCase('USER')}">
                <tr>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                </tr>
            </th:block>
        </th:block>
    </th:block>
    <tr>
        <th colspan="3" style="text-align:center" scope="row" class="table-secondary">ADMIN</th>
    </tr>
    <th:block th:each="user:${users}">
        <th:block th:each="role:${user.roles}">
            <th:block th:if="${role.name().equalsIgnoreCase('ADMIN')}">
                <tr>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                </tr>
            </th:block>
        </th:block>
    </th:block>
    </tbody>
</table>
</body>
</html>