<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'edit')}">
<head>
    <meta charset="UTF-8">
    <title>Bug report</title>
</head>
<body>
<h3>Edit bug report</h3>
<div class="row my-2">
    <a class="btn btn-secondary" th:href="@{/report/edit/(id=${report.id})}">Edit</a>
</div>
    <div class="row">
        <div class="col">
            <span>Summary:</span>
            <p th:text="${report.summary}"></p>
            <span>Description:</span>
            <p th:text="${report.description}"></p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm">
                    <span>ID:</span>
                    <p th:text="${report.id}"></p>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <span>Created:</span>
                        <p th:text="${report.createdAt}"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <span>Status:</span>
                        <p th:text="${report.status}"></p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <span>Priority:</span>
                        <p th:text="${report.priority}"></p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span>Reporter:</span>
                <p th:text="${report.reporter}"></p>
            </div>
            <div class="form-group">
                <span>Assignee</span>
                <p th:text="${report.assignee}"></p>
            </div>
        </div>
    </div>
    <a class="btn btn-secondary btn-sm" href="/dashboard">Back</a>
</body>
</html>